.profile-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 3rem;
}

@media (max-width: 767px) {
  .profile-container {
    grid-template-columns: 1fr;
  }
}

.editable {
  border: 2px solid #007bff;
  background-color: #f0f8ff;
}

.non-editable {
  text-decoration: line-through;
  color: gray;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #0056b3;
}