form input,
form select,
form textarea {
  background: var(--color-blue5);
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px;
  font-size: 18px;
  line-height: 1.33;
  width: 100%;
}

form select {
  color: var(--color-blue4); /* match your input text */
  background: var(--color-blue5); /* optional, to match input background */
  -webkit-appearance: none; /* remove OS default styling */
  -moz-appearance: none;
  appearance: none;
}
form input:focus,
form select:focus,
form textarea:focus {
  border: 1px solid var(--color-grey);
}

form label {
  color: var(--color-blue1);
  line-height: 1.5;
  padding-left: 15px;
}

.inputwrapper {
  position: relative;
}

.showpasswordbutton {
  position: absolute;
  bottom: 0.5rem;
  right: -4rem;
  z-index: 2;
  background: none;
  transform: translateY(19px);
  transition: all 0.2s ease;
  cursor: pointer;
}
.showpasswordbutton:hover {
  opacity: 0.7;
}
.showpasswordbutton.__faded {
  opacity: 0.4;
}

.passwordreveal {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.passwordActionContainer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}