/* Results */
.search-results {
  margin-top: 1.5rem;
}

/* Each user item in result list */
.search-user {
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: 1rem;
  align-items: start;
  margin-bottom: 15px;
}

.search-user-cohort {
  font-weight: 600;
  font-size: 1.1rem;
}