.comment {
  display: grid;
  grid-template-columns: 56px auto 48px;
  gap: 1rem;
  margin-bottom: 15px;
}

.comment-user-name {
  font-weight: 600;
  font-size: 1.1rem;
}

.comment div p:last-child {
  word-break: break-word;    
}