.welcome-titleblock {
  margin-bottom: 32px;
}
.welcome-titleblock h1 {
  margin-bottom: 16px;
}
.welcome-cardheader h2 {
  margin-bottom: 16px;
}
.welcome-cardheader p {
  margin-bottom: 24px;
}
.welcome-formheader h3 {
  margin-bottom: 32px;
}
.welcome-form-profileimg-input {
  display: grid;
  grid-template-columns: 40px auto;
  gap: 16px;
  align-items: center;
}
.welcome-form-profileimg-error {
  color: transparent;
}
.welcome-form-inputs {
  display: grid;
  gap: 1.5rem;
}

.welcome-form-popup-wrapper {
  width: 470px;
  max-width: 100%;
}
.welcome-form-popup {
  display: grid;
  grid-template-rows: repeat(auto, auto);
  gap: 24px;
}
.welcome-form-popup-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.inputInvalid {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.inputValid {
  border: 2px solid green;
  background-color: #effae1;
}