.cohorts-list-container {
  max-height: calc(4 * 60px);
  overflow-y: auto;
}

.cohorts-list-container::-webkit-scrollbar {
  width: 8px;
}

.cohorts-list-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.cohorts-list-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.cohorts-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cohorts-link {
  text-decoration: none;
  color: inherit;
  display: block; /* Ensures the link covers the whole item */
}

