.students-list {
  max-height: calc(4 * 80px);
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}


.students-list-container::-webkit-scrollbar {
  width: 8px;
}

.students-list-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.students-list-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.students-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.student-link {
  text-decoration: none;
  color: inherit;
  display: block; /* Ensures the link covers the whole item */
}

